body {
    /* background-image: url("image/");
    background-repeat: no-repeat;
    background-size: cover; */
    
}

.autumn-color {
    background-color: rgb(230, 99, 39);
    border-radius: 5px;
    height: 350px;
}

.train-status {
    background-color: rgb(235, 223, 218);
    border-radius: 5px;
    float: left;
}


.small{
	width: 40%;
}

.text-warning {
    font-size: 25px;
}

